@model AddMobilePhoneFromModel
@{
    ViewData["Title"] = "Add Phone";
}

<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <h2>Add Phone</h2>
            <div class="mb-3">
                <label asp-for="Model" class="form-label">Name</label>
                <input asp-for="Model" class="form-control" placeholder="Write down the name of the phone.">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Year" class="form-label">Year</label>
                <input asp-for="Year" class="form-control" placeholder="What year is the phone made?">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DisplaySizeInch" class="form-label">DisplaySizeInch</label>
                <input asp-for="DisplaySizeInch" class="form-control" placeholder="Write down the inches of the phone.">
                <span asp-validation-for="DisplaySizeInch" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Memory" class="form-label">Memory</label>
                <input asp-for="Memory" input type="text" class="form-control" placeholder="How much memory does the phone have?">
                <span asp-validation-for="Memory" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DisplayType" class="form-label">DisplayType</label>
                <input asp-for="DisplayType" class="form-control" placeholder="Write down the type of the display.">
                <span asp-validation-for="DisplayType" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ram" class="form-label">Ram</label>
                <input asp-for="Ram" class="form-control" placeholder="Write down the type of the display.">
                <span asp-validation-for="Ram" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PixelsFrontCamera" class="form-label">PixelsFrontCamera</label>
                <input asp-for="PixelsFrontCamera" class="form-control" placeholder="How much picxele does the camera have?">
                <span asp-validation-for="PixelsFrontCamera" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PixelsBackCamera" class="form-label">PixelsBackCamera</label>
                <input asp-for="PixelsBackCamera" class="form-control" placeholder="How much pixels does the camera have?">
                <span asp-validation-for="PixelsBackCamera" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Resolution" class="form-label">Resolution</label>
                <input asp-for="Resolution" class="form-control" placeholder="What is the resolution of the phone?">
                <span asp-validation-for="Resolution" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Processor" class="form-label">Processor</label>
                <input asp-for="Processor" class="form-control" placeholder="What is the processor of the phone?">
                <span asp-validation-for="Processor" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BatteryCapacity" class="form-label">BatteryCapacity</label>
                <input asp-for="BatteryCapacity" class="form-control" placeholder="What is the battery capacity of the phone?">
                <span asp-validation-for="BatteryCapacity" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control" placeholder="Insert a picture of the phone.">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="form-label">Url</label>
                <input asp-for="Url" class="form-control" placeholder="Insert a picture of the phone.">
                <span asp-validation-for="Url" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Tell more about the phone"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select asp-for="BrandId" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    @foreach (var mobilePhoneBrand in Model.Brands)
                    {
                        <option value="@mobilePhoneBrand.Id">@mobilePhoneBrand.Brand</option>
                    }
                </select>
            </div>

            <div>
                <input class="btn btn-primary " type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
